<div class="main">
    <h1 class="title has-text-light">Welcome to MTG Deck Builder</h1>
    <p class="subtitle has-text-grey">Create decks and add cards to better organize your MTG builds.</p>
</div>
