<div>
    <form action="/search/results" method="POST">
        <label for="card">Card Name</label>
        <input id="card" type="text" name="card">
    
        <input type="submit" value="Find Card">
    </form>
</div>