<div>
    <form action="/decks/new" method="POST">
        <label for="deck-name">Deck Name</label>
        <input id="deck-name" type="text" name="deckName">
    
        <input type="submit" value="Create Deck">
    </form>
</div>