<h1 class="title">Deck collections</h1>
<h3 class="subtitle">Click a deck name to see more information</h3>
<ul>
    <% decks.forEach((deck) => { %>
        <% const { id, name } = deck.get() %>
        <div class="box">
            <li><a href="/decks/<%= id %>"><%= name %></a></li>
            <form method="POST" action="/decks/remove/<%= id %>?_method=DELETE">
                <button type="submit">Delete Deck</button>
            </form>
        </div>
    <% }) %>
</ul> 