<h1>Deck of Cards</h1>

<% deck.get().cards.forEach(card => { %>
    <img src="<%= card.get().imgUrl %>" alt="<%= card.name %>">
    <form method="POST" action="/decks/card/<%= deck.get().id %>/<%= card.get().id %>?_method=DELETE">
        <button type="submit">Delete Card</button>
    </form>
    
<% }); %> 