<h1>Deck of Cards</h1>

<% deck.get().cards.forEach(card => { %>
    <img src="<%= card.get().imgUrl %>" alt="<%= card.name %>">
    <a href="/decks/card/<%= deck.get().id %>/<%= card.get().id %>">Delete Card</a>
<% }); %> 